.accountOrderDetail{
    margin:0 auto;
    padding: 50px;
}
.accountOrderDetail h1{
    font-size:30px;
    text-align: center;
}
.accountOrderDetail p{
    font-size:14px;
    text-align:center;
}
.accountOrderDetail p a{
    color: #b6b6b6;
}
.accountOrderDetail h3{
    max-width:900px;
    margin:0 auto;
    text-align:left;
    font-size:14px;
}
/* ==========================================================================
   Form Control
   ========================================================================== */
.main-container a.button{
    display:block;
    width:120px;
    margin:20px 10px;
    padding: 10px 20px;
    background-color: #768075;
    border: none;
    text-align:center;
    color:#fff;
    border-radius:0;
    -webkit-transition: background 500ms ease, color 500ms ease;
    -moz-transition: background 500ms ease, color 500ms ease;
    transition: background 500ms ease, color 500ms ease;
}
.main-container input.button:hover,
.main-container a.button:hover{
    background-color: #a4652d;
    text-decoration:none;
}
.main-container a.button.calculating,
.main-container a.button.calculating:hover,
.main-container a.button.disabled,
.main-container a.button.disabled:hover{
    background-color: #ccc;
    color:#333;
    cursor:default;
}
.main-container .radio{
    position:relative;
    min-height:40px;
    margin-bottom:10px;
    padding:10px 10px 10px 30px;
    border: 1px solid #d7ded6;
    background:#fff;
    cursor:pointer;
}
.main-container .radio input{
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
    z-index:1;
}
.main-container .radio span{
    position:absolute;
    top:50%;
    left:10px;
    display:block;
    width:20px;
    height:20px;
    margin-top:-10px;
    vertical-align:middle;
    font-size:0;
    line-height:0;
    background:url(../img/radio-btn-black.png) no-repeat 0 0;
}
.main-container .radio input:checked+span{
    background-position:-20px 0;
}
.main-container .radio h4{
    margin:0 0 0 10px;
    padding:0;
    vertical-align:middle;
    font-size:16px;
    line-height:20px;
}
.main-container .radio p{
    margin:0 0 0 10px;
    padding:0;
    font-size:14px;
    color:#b6b6b6;
    text-align:left;
}
/* ==========================================================================
   Product List
   ========================================================================== */
.accountOrderDetail .products{
    max-width:900px;
    margin: 0 auto;
}
.accountOrderDetail .products .product{
    position:relative;
    overflow: hidden;
    padding: 25px 0;
    margin: 0;
    border-bottom: 1px solid #f6f6f6;
}
.accountOrderDetail .products .product .image{
    float: left;
    width:100px;
    height:100px;
}
.accountOrderDetail .products .product .image img{
    width:100%;
    height:100%;
}
.accountOrderDetail .products .product .detail{
    float: left;
    margin-left: 20px;
}
.accountOrderDetail .products .product .detail h2{
    float: left;
    font-size:24px;
    margin: 0 0 10px 0;
}
.accountOrderDetail .products .product .detail h5{
    float:left;
    margin: 4px 2px 2px 10px;
    padding-left: 10px;
    border-left: 1px solid #b6b6b6;
    color: #b6b6b6;
}
.accountOrderDetail .products .product .detail .text{
    font-size:12px;
}
.accountOrderDetail .products .product .detail a.show-build-info{
    display:block;
    font-size:12px;
}
.accountOrderDetail .products .product .detail a.show-build-info:hover{
    text-decoration:none;
}
.accountOrderDetail .products .product .detail a.show-build-info.active{
    color: #b6b6b6;
}
.accountOrderDetail .products .product .detail a.show-build-info i.showhide{
    display:inline-block;
    width:9px;
    height:9px;
    margin:0 0 0 10px;
    background:url(../img/ico-showhide.png) no-repeat 0 0;
    cursor:pointer;
}
.accountOrderDetail .products .product .detail a.show-build-info.active i.showhide{
    background-position:-9px 0;
}
.accountOrderDetail .products .product .detail ul.build-info{
    display:none;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 12px;
}
.accountOrderDetail .products .product .detail ul.build-info.active{
    display:block;
}
.accountOrderDetail .products .product .detail ul.build-info li{
    margin: 0;
    padding: 0;
}
.accountOrderDetail .products .product .status{
    float: right;
    font-size:18px;
    line-height:22px;
    color:#333;
}
/* ==========================================================================
   Purchase
   ========================================================================== */
.purchase{
    max-width:900px;
    margin:50px auto;
}
.purchase h2{
    margin: 0 0 26px 0;
    color: #b6b6b6;
    font-size:18px;
    line-height:20px;
}
.purchase div{
    
}
.purchase div ul{
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}
.purchase div ul li{
    width: auto;
    margin: 4px 0;
    font-size:14px;
}
.purchase div ul li .left{
    float:left;
}
.purchase div ul li .right{
    float:right;
    color: #b6b6b6;
}
.purchase .order-info a.button{
    float:right;
    margin:20px 0 43px;
    font-size:18px;
    line-height:20px;
}
.purchase div.total .sum{
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 5px;
    padding: 30px;
    cursor: pointer;
    position: relative;
    border: 1px solid #f6f6f6;
    border-radius:5px;
} 
.purchase div.total .sum .left{
    float:left;
}
.purchase div.total .sum .right{
    float:right;
    color: #b6b6b6;
}
/* ==========================================================================
   Wait Panel
   ========================================================================== */
div.wait-panel{
    position:fixed;
    top:50%;
    left:50%;
    display:none;
    width:500px;
    height:300px;
    margin:-150px 0 0 -250px;
    background-color:#fff;
    text-align:center;
    z-index:31;
}
div.wait-panel.qr-code{
    width:700px;
    height:700px;
    margin:-350px 0 0 -350px;
}
div.wait-panel.qr-code img{
    display:block;
    width:500px;
    height:500px;
    margin:10px auto 0;
}
div.wait-panel h2{
    margin-top: 55px;
}
div.wait-panel.qr-code h2{
    margin-top: 25px;
}
div.wait-panel a.button{
    display:block;
    width:400px;
    margin:10px auto 25px;
    color:#fff;
    background-color: #6f95a9;
    font-size:16px;
    line-height:20px;
}
div.wait-panel.qr-code a.button{
    margin:10px auto 10px;
}
div.wait-panel a.button:hover{
    background-color: #668291;
}
div.wait-panel a.button.disabled,
div.wait-panel a.button.disabled:hover{
    background-color: #ccc;
}
div.wait-cover-black{
    position:fixed;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0;
    z-index:30;
}
div.login-cover-black.opened{
    display:block;
}
@media(max-width:1040px) {
    .accountOrderDetail{
        padding: 50px 15px;
    }
}
@media(max-width:767px) {
    /* ==========================================================================
       Wait Panel
       ========================================================================== */
    div.wait-panel{
        width:300px;
        height:200px;
        margin:-100px 0 0 -150px;
    }
    div.wait-panel.qr-code{
        width:300px;
        height:300px;
        margin:-150px 0 0 -150px;
    }
    div.wait-panel.qr-code img{
        display:block;
        width:200px;
        height:200px;
        margin:10px auto 0;
    }
    div.wait-panel h2{
        font-size:24px;
        margin: 35px 25px 24px;
    }
    div.wait-panel a.button{
        display:block;
        width:250px;
        margin:10px auto 25px;
        color:#fff;
        background-color: #6f95a9;
        font-size:16px;
        line-height:20px;
    }
}
@media(max-width:640px) {
    .accountOrderDetail .products .product .detail{
        width:140px;
    }
}
@media(max-width:440px) {
.accountOrderDetail h1{
    font-size:24px;
}
.accountOrderDetail .products .product .detail h2{
    font-size:18px;
}
.accountOrderDetail .products .product .status{
    font-size:16px;
    line-height:22px;
}
.purchase h2{
    font-size:16px;
}
}