.accountSize{
    margin:0 auto;
    padding: 50px;
}
.accountSize h1{
    font-size:30px;
    text-align: center;
}
.accountSize p{
    max-width:500px;
    margin:16px auto;
    font-size:16px;
    text-align:center;
}
.accountSize a.button{
    display:block;
    width:290px;
    margin:10px auto;
}
.accountSize .size-image{
    width:351px;
    margin:45px auto 0;
}
.accountSize .size-image img{
    width:100%;
}
@media(max-width:1040px) {
    .accountSize{
        padding: 50px 25px;
    }
    .accountSize .size-image{
        width:250px;
    }
    .accountSize a.button{
        width:250px;
    }
}