.accountDetail{
    margin:0 auto;
    padding: 50px;
}
.accountDetail h1{
    font-size:30px;
    text-align: center;
}
.accountDetail p{
    font-size:16px;
    text-align:center;
}
.accountDetail .detailForm{
    width:250px;
    margin:40px auto 0;
}
.accountDetail .detailForm .form-control{
    position:relative;
}
.accountDetail .detailForm .form-control .tooltip{
    position:absolute;
    top: -20px;
    right:0;
    display:none;
    padding:0 10px;
    background: #e86c4b;
    border-radius:5px;
    color:#fff;
    font-size:12px;
    font-family:"宋体";
    line-height:20px;
}
.accountDetail .detailForm .form-control.has-error .tooltip{
    display:block;
}
.accountDetail .detailForm .form-control .tooltip:after{
    content:' ';
    border-top: 9px solid #e86c4b;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    right: 20px;
    bottom: -7px;
}
.accountDetail .detailForm .input{
    margin-bottom:10px;
}
.accountDetail .detailForm .control-group{
    height:60px;
}
.accountDetail .detailForm .control-group .input{
    float:left;
    width:120px;
}
.accountDetail .detailForm .control-group .form-control{
    float:left;
}
.accountDetail .detailForm .control-group .form-control .input,
.accountDetail .detailForm .control-group .form-control .select{
    float:none;
}
.accountDetail .detailForm .control-group > *:not(:first-child){
    margin-left:10px;
}
.accountDetail .detailForm div.checkbox{
    height:25px;
    position:relative;
    margin-bottom:10px;
}
.accountDetail .detailForm div.checkbox input.checkbox{
    position: absolute;
    opacity: 0;
    width: 19px;
    height: 19px;
    margin: 3px 0 0;
    cursor: pointer;
    z-index:1;
}
.accountDetail .detailForm div.checkbox label{
}
.accountDetail .detailForm div.checkbox label:before{
    content: ' ';
    position:relative;
    top:3px;
    display:inline-block;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    border:1px solid #040000;
}
.accountDetail .detailForm div.checkbox input.checkbox:checked+label:before{
    content: ' ';
    background:url(../img/checkbox-ok.png) no-repeat center center;
    background-size:contain;
}
.accountDetail .detailForm a.button{
    display:block;
    margin:0 0 10px;
    font-size:16px;
    line-height:20px;
}
.daDetail{
    position:absolute;
    top:0;
    right:0;
    width:200px;
    height:100%;
    min-height:600px;
    border-left: 1px solid #f6f6f6;
}
.daDetail .info{
    padding: 30px;
    border-bottom: 1px solid #f6f6f6;
    text-align:center;
}
.daDetail .info img{
    display:block;
    width:124px;
    margin:0 auto 50px;
}
.daDetail .info h5{
    margin-bottom: 30px;
    margin-top: 0;
    color: #b6b6b6;
}
.daDetail .info h2{
    margin:0;
}
@media(max-width:1040px) {
    .accountDetail{
        padding: 50px 25px;
    }
    .daDetail{
        position:static;
        width:auto;
        height:auto;
        min-height:0;
        border-left: none;
        border-top: 1px solid #f6f6f6;
    }
    .daDetail .info{
        padding-top:0;
        border-bottom: none;
    }
    .daDetail .info img{
        display:none;
    }
    .daDetail .info h5{
        margin-top: 30px;
    }
}