.main-container{
    width:600px;
    margin:0 auto;
}
.main-container h1, 
.main-container h2, 
.main-container h3{
    text-align:center;
    margin:40px 0;
}
.main-container h3{
    margin:20px 0;
}
.main-container img{
    max-width:100%;
}
@media(max-width:700px) {
    .main-container{
        width:260px;
    }
}