.main-container h1{
    font-size:30px;
    text-align: center;
    margin-top:50px;
    padding:0 20px;
}
.main-container p{
    font-size:16px;
    text-align:center;
    padding:0 20px;
}
/*step form*/
.main-container .stepForm{
    width:250px;
    margin:40px auto 0;
}
.main-container .stepForm .form-control{
    position:relative;
}
.main-container .stepForm .form-control .tooltip{
    position:absolute;
    top: -20px;
    right:0;
    display:none;
    padding:0 10px;
    background: #e86c4b;
    border-radius:5px;
    color:#fff;
    font-size:12px;
    font-family:"宋体";
    line-height:20px;
}
.main-container .stepForm .form-control.has-error .tooltip{
    display:block;
}
.main-container .stepForm .form-control .tooltip:after{
    content:' ';
    border-top: 9px solid #e86c4b;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    right: 20px;
    bottom: -7px;
}
.main-container .stepForm .input{
    margin-bottom:10px;
}
.main-container .stepForm .control-group{
    height:60px;
}
.main-container .stepForm .control-group .input,
.main-container .stepForm .control-group .select{
    float:left;
    width:120px;
}
.main-container .stepForm .control-group .form-control{
    float:left;
}
.main-container .stepForm .control-group .form-control .input,
.main-container .stepForm .control-group .form-control .select{
    float:none;
}
.main-container .stepForm .control-group > *:not(:first-child){
    margin-left:10px;
}
.main-container .stepForm a.button{
    display:block;
    margin:0 0 10px;
    font-size:16px;
    line-height:20px;
    color:#fff;
    background-color:#333333;
}
.main-container .stepForm a.btn-captcha{
    width:120px;
    background-color:#6f95a9;
}
.main-container .stepForm a.btn-captcha:hover{
    background-color:#668291;
}
.main-container .stepForm a.btn-captcha.disabled,
.main-container .stepForm a.btn-captcha.disabled:hover{
    background-color:#ccc;
}
.main-container .stepForm a.captcha-img{
    display:block;
    width:120px;
    height:50px;
}
.main-container .stepForm a.captcha-img img{
    width:100%;
    height:100%;
}
