/* ==========================================================================
   Product Carousel
   ========================================================================== */
.product-carousel{
    display:none;
    position: relative;
    max-width:1920px;
    margin: 0 auto;
}
.product-carousel.middle{
    display:block;
    height:414px;
}
.product-carousel.large{
    display:block;
    height:600px;
}
.product-carousel .images{
    width:100%;
    height:100%;
}
.product-carousel .images .image{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}
.product-carousel .images .image .text{
    position:absolute;
    top: 39%;
    left:50%;
    width: 400px;
    margin-left:-200px;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
.product-carousel .images .image .text.left{
    left: 5.9%;
    margin-left:0;
}
.product-carousel .images .image .text.right{
    left:auto;
    right: 4.5%;
    margin-left:0;
}
.product-carousel .images .image .text.black{
    color:#000;
}
.product-carousel .images .image .text h2{
    font-size:45px;
    margin: 20px auto 14px;
}
.product-carousel .images .image .text p{
    font-size:18px;
    margin: 0 0 10px;
}
.product-carousel .direction{
    overflow:visible;
}
.product-carousel .direction a{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 53px;
    text-indent: -99999px;
    overflow: hidden;
}
.product-carousel .direction a.arrow-left{
    left: 0;
    background: url(../img/arrow-left.png) no-repeat 13px 50%;
}
.product-carousel .direction a.arrow-right{
    right: 0;
    background: url(../img/arrow-right.png) no-repeat 30px 50%;
}
.product-carousel .control{
    position: absolute;
    left: 50%;
    bottom: 21px;
    margin: -29px 0 0;
    padding: 0;
    list-style: none;
}
.product-carousel .control li{
    float: left;
    position: relative;
    left: -50%;
    padding: 0 4px;
}
.product-carousel .control li a{
    width: 8px;
    height: 8px;
    background: #fff;
    text-indent: -99999px;
    overflow: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    float: left;
    opacity: .6;
}
.product-carousel .control li.active a{
    opacity: 1;
}
/* ==========================================================================
   Product Navigator
   ========================================================================== */
.product-categories{

}
.product-categories ul{
    margin: 0 auto 29px;
    list-style: none;
    text-align: center;
    background: #d7ded6;
}
.product-categories ul li{
    list-style: none;
    display: inline-block;

}
.product-categories ul li a{
    color: #2c2e2b;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-size:16px;
    line-height:20px;
}
.product-categories ul li:hover a,
.product-categories ul li.active a{
    background-color:#fff;
    color:#a4652d;
}
/* ==========================================================================
   Product List
   ========================================================================== */
section.products{
    width: 1060px;
    margin: 0 auto;
    padding: 0 40px;
}
section.products ul.list{
    margin: 0 0 0 -40px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
section.products ul.list li{
    position:relative;
    float: left;
    margin-left: 40px;
    width: 300px;
    height: 350px;
    padding: 0 0 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    cursor:pointer;
}
section.products ul.list li .img{
    width:300px;
    height:300px;
}
section.products ul.list li .img img{
    width:100%;
    height:100%;
}
section.products ul.list li h2{
    font-size:14px;
    line-height:16px;
    margin: 0 0 3px;
}
section.products ul.list li h3{
    display:inline;
    font-size:14px;
    line-height:14px;
    margin:0;
    padding-left:10px;
    background:url(../img/dot3.png) no-repeat 0 50%;
}
section.products ul.list li h3 span{
    padding-right:13px;
    background:url(../img/dot3.png) no-repeat 100% 50%;
}
section.products ul.list li .label{
    position:absolute;
    right:65px;
    bottom:12px;
    width:35px;
    height:35px;
    background-color:#fff;
    border-radius:50%;
    overflow:hidden;
    color:#f5f5f5;
    font-size:12px;
    line-height:35px;
    text-align:center;
}
section.products ul.list li .label.new{
    background-color:#90b190;
}
section.products ul.list li .label.few{
    background-color:#b1a590;
}
section.products ul.list li .label.sold-out{
    background-color:#b19090;
}
/* ==========================================================================
   Responsive
   ========================================================================== */
@media(max-width:1079px){
    section.products{
        width: 750px;
        padding: 0 50px;
    }
    section.products ul.list{
        margin: 0 0 0 -50px;
    }
    section.products ul.list li{
        margin-left: 50px;
    }
}
@media(max-width:769px){
    section.products{
        width: 300px;
        padding: 0;
    }
    section.products ul.list{
        margin: 0;
    }
    section.products ul.list li{
        margin-left: 0;
    }
}
