/* ==========================================================================
   Breadcrumb
   ========================================================================== */
.breadcrumb{
    background: #d7ded6;
    padding: 10px 0 9px;
}
.breadcrumb-container{
    max-width: 960px;
    margin:0 auto;
}
.breadcrumb-container ul{
    list-style:none;
    padding: 0;
    margin: 6px 0;
}
.breadcrumb-container ul li{
    float: left;
    display:inline-block;
    color: #768075;
}
.breadcrumb-container ul li a{
    text-decoration: none;
    color: #768075;
}
.breadcrumb-container ul li a:hover{
    color: #333e30;
}
.breadcrumb-container ul li .divider{
    padding: 1px 24px 0 21px;
}
/* ==========================================================================
   Product Detail
   ========================================================================== */
.product-detail{
    padding: 45px 0;
}
.product-detail-container{
    max-width: 1024px;
    margin:0 auto;
}
.product-detail-container .product-image{
    position:relative;
}
.product-detail-container .product-image .images{
    position:relative;
    width:450px;
    height:450px;
    margin:0 auto;
}
.product-detail-container .product-image .images .image{
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.product-detail-container .product-image .images .image img{
    width:100%;
    height:100%;
}
.product-detail-container .product-image a.arrow-left{
    position: absolute;
    top: 215px;
    left: -15px;
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    background:url(../img/product-detail-arrow.png) no-repeat 0 0;
}
.product-detail-container .product-image a.arrow-left:hover{
    background-position:0 -20px;
}
.product-detail-container .product-image a.arrow-right{
    position: absolute;
    top: 215px;
    right: -15px;
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    background:url(../img/product-detail-arrow.png) no-repeat -10px 0;
}
.product-detail-container .product-image a.arrow-right:hover{
    background-position:-10px -20px;
}
.product-detail-container .product-info{
    margin:0 20px 0 10px;
}
.product-detail-container .product-info h2{
    margin: 0 0 30px;
    font-size:20px;
    line-height:26px;
    text-align:center;
}
.product-detail-container .product-info .price{
    border-top:1px solid #d7ded6;
    margin: 12px 0 15px;
    text-align:center;
    overflow:visible;
}
.product-detail-container .product-info .price span{
    position:relative;
    top:-12px;
    padding: 0 22px;
    font-size:20px;
    line-height:24px;
    background-color:#fff;
}
.product-detail-container .product-info .consist{
    padding: 0 0 40px;
    font-size:14px;
    text-align:center;
}
.product-detail-container .product-info .text{
    padding: 0 0 30px;
    font-size:12px;
}
.product-detail-container .product-info .build-info{
    border-top: 1px solid #d7ded6;
    padding: 30px 0 0;
    font-size:12px;
}
.product-detail-container .product-info .build-btns{
      padding: 30px 0 0;
}
.product-detail-container .product-info .build-btns ul{
    list-style:none;
    padding:0;
    margin:0;
}
.product-detail-container .product-info .build-btns ul li{
    float: left;
    width: 140px;
    margin: 5px;
}
.product-detail-container .product-info .build-btns ul li a{
    display:block;
    background-color:#d7ded6;
    border:3px solid #d7ded6;
    border-radius:5px;
    color:#768075;
    font-size:16px;
    line-height:20px;
    text-align:center;
    text-decoration:none;
    padding:12px 0;
}
.product-detail-container .product-info .build-btns ul li a:hover{
    background-color:#fff;
}
.product-detail-container .product-info .build-btns ul li.active a{
    background-color:#fff;
    color:#000;
}
/* ==========================================================================
   Image Zoom
   ========================================================================== */
.product-detail-image-zoom{
    position:fixed;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:#fff;
    z-index:3;
}
.product-detail-image-zoom .zoom-container{
    position:relative;
    width:950px;
    margin:0 auto;
    padding:15px 0 152px;
}
.product-detail-image-zoom .zoom-container .btn-close{
    position:absolute;
    top:15px;
    right:-30px;
    width:25px;
    height:25px;
    background:url(../img/product-image-zoom-close.png) no-repeat 0 0;
}
.product-detail-image-zoom .zoom-container .btn-close:hover{
    background-position:-25px 0;
}
.product-detail-image-zoom .zoom-container a.arrow-left{
    position: absolute;
    top: 300px;
    left: -15px;
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    background:url(../img/product-detail-arrow.png) no-repeat 0 0;
}
.product-detail-image-zoom .zoom-container a.arrow-left:hover{
    background-position:0 -20px;
}
.product-detail-image-zoom .zoom-container a.arrow-right{
    position: absolute;
    top: 300px;
    right: -15px;
    display: block;
    width: 10px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    background:url(../img/product-detail-arrow.png) no-repeat -10px 0;
}
.product-detail-image-zoom .zoom-container a.arrow-right:hover{
    background-position:-10px -20px;
}
.product-detail-image-zoom .zoom-container .image{
    width:100%;
}
.product-detail-image-zoom-thumbs{
    position:fixed;
    bottom:0;
    right:0;
    display:none;
    width:100%;
    padding: 15px 0;
    margin-right:20px;
    overflow:auto;
    background-color:#fff;
    z-index:4;
}
.product-detail-image-zoom-thumbs ul{
    display:block;
    list-style:none;
    padding:0;
    margin:0 0 0 20px;
    text-align:center;
}
.product-detail-image-zoom-thumbs ul li{
    display:inline-block;
    margin-right:10px;
}
.product-detail-image-zoom-thumbs ul li a{
    display:block;
    width:120px;
    height:120px;
    border:1px solid #fff;
    overflow:hidden;
}
.product-detail-image-zoom-thumbs ul li.active a{
    border:1px solid #a4652d;
}
.product-detail-image-zoom-thumbs ul li a img{
    width:100%;
    height:100%;
}
/* ==========================================================================
   Customizations
   ========================================================================== */
.product-customizations{

}
.product-customizations .customization{
    position: relative;
    display:none;
    width: 100%;
    background-color:#f5f5f5;
}
.product-customizations .customization h2.description{
    margin:0;
    padding-top: 50px;
    text-align: center;
    font-size:20px;
    line-height:30px;
}
.product-customizations .customization p.description{
    width: 600px;
    text-align: center;
    margin: 0 auto 10px;
    padding-top: 10px;
    font-size:14px;
    line-height:30px;
}
.product-customizations .customization .options{
    margin: 0 auto;
    width: 84%;
    text-align: center;
}
.product-customizations .customization .options .option{
    cursor: pointer;
    width: 17.5%;
    margin: 1%;
    border: 1px solid #d7ded6;
    display: inline-block;
    vertical-align: middle;
}
.product-customizations .customization .options .option .image{
    
}
.product-customizations .customization .options .option .image img{
    width:100%;
    vertical-align: middle;
}
.product-customizations .customization .options .option .text{
    text-align: center;
    color: #a4652d;
    border-top: 1px solid #d7ded6;
    font-size: 16px;
    line-height:35px;
    padding: 7px 0;
    text-transform: uppercase;
}
.product-customizations .customization a.btn{
    display:block;
    width:250px;
    margin:38px auto 68px;
    border-radius:5px;
    color:#fff;
    background-color:#768075;
    padding:15px 0;
    font-size:16px;
    line-height:20px;
    text-decoration:none;
    text-align:center;
}
.product-customizations .customization a.btn:hover{
    background-color:#a4652d;
}
.product-customizations .customization .zoom-container{
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    background-color:#fff;
    overflow:hidden;
}
.product-customizations .customization.no-login .zoom-container{
    background-color:#f6f6f6;
}
.product-customizations .customization .zoom-container .image{
    height:100%;
    float:right;
}
.product-customizations .customization.no-login .zoom-container .image{
    height:100%;
    float:none;
}
.product-customizations .customization .zoom-container .btn-close{
    position:absolute;
    top:50px;
    right:50px;
    width:25px;
    height:25px;
    background:url(../img/product-customization-close.png) no-repeat 0 0;
}
.product-customizations .customization .zoom-container a.btn{
    position:absolute;
    right:50px;
    bottom:50px;
    margin:0;
}
.product-customizations .customization.add-to-cart .zoom-container a.btn{
    position:absolute;
    left:50%;
    right:auto;
    bottom:50px;
    margin-left: -125px;
}
.product-customizations .customization .zoom-container .btn-close:hover{
    background-position:-25px 0;
}
.product-customizations .customization .zoom-container .description{
    position: absolute;
    left: 6%;
    width: 38%;
    top: 6%;
    text-align: center;
}
.product-customizations .customization.no-login .zoom-container .description{
    position: absolute;
    top: 25%;
    left:auto;
    right: 25%;
    width: 500px;
    margin-right: -250px;
    text-align: center;
}
.product-customizations .customization.add-to-cart .zoom-container .description{
    position: absolute;
    left: 31%;
    width: 38%;
    top: 6%;
    text-align: center;
}
.product-customizations .customization .zoom-container .description h2{
    margin: 30px 0;
    font-size:20px;
    line-height:30px;
}
.product-customizations .customization .zoom-container .description p{
    font-size:14px;
    line-height:30px;
}
.product-customizations .customization .zoom-container .description p a{
    text-decoration:underline;
}
.product-customizations .customization .zoom-container .gradient{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background:-o-linear-gradient(left,rgba(255,255,255,1), rgba(255,255,255,1) 60%, rgba(255,255,255,0));
    background:-moz-linear-gradient(left,rgba(255,255,255,1), rgba(255,255,255,1) 60%, rgba(255,255,255,0));
    background:-webkit-linear-gradient(left,rgba(255,255,255,1), rgba(255,255,255,1) 60%, rgba(255,255,255,0));
    background:linear-gradient(left,rgba(255,255,255,1), rgba(255,255,255,1) 60%, rgba(255,255,255,0));
    z-index:0;
}
/* ==========================================================================
   Customization Build
   ========================================================================== */
.product-customizations .customization-build{
    position: relative;
    display:none;
    width: 100%;
    height: 800px;
    background: #f6f6f6;
}
.product-customizations .customization-build a.btn{
    display:block;
    width:200px;
    margin:0;
    border-radius:5px;
    color:#fff;
    background-color:#768075;
    padding:15px 0;
    font-size:16px;
    line-height:20px;
    text-decoration:none;
    text-align:center;
}
.product-customizations .customization-build a.btn:hover{
    background-color:#a4652d;
}
.product-customizations .customization-build a.btn.disabled{
    color: #777;
    background-color: #ececec;
    cursor: default;
}
.product-customizations .customization-build a.btn.prev{
    position:absolute;
    top:50%;
    right:50px;
    z-index:1;
}
.product-customizations .customization-build a.btn.next{
    position:absolute;
    top:50%;
    right:50px;
    margin-top:70px;
    z-index:1;
}
.product-customizations .customization-build ol{
    position: absolute;
    top: 50%;
    left: 100%;
    display: block;
    width:200px;
    margin: 130px 0 0 -250px;
    padding:0;
    list-style: none;
    text-align: left;
    z-index:1;
}
.product-customizations .customization-build ol li{
    display: inline-block;
    vertical-align: top;
    padding: 0 4px;
}
.product-customizations .customization-build ol li a{
    display: block;
    width: 8px;
    height: 8px;
    background-color:#999999;
    border-radius:50%;
    text-indent: -9999px;
    overflow: hidden;
}
.product-customizations .customization-build ol li a:hover,
.product-customizations .customization-build ol li.active a{
    background-color:#a4652d;
}
.product-customizations .customization-build .step{
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
}
.product-customizations .customization-build .step .bg-img{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
}
.product-customizations .customization-build .step .bg-img.right{
    left:auto;
    right:0;
}
/*intro*/
.product-customizations .customization-build .step.intro{
    display:block;
}
.product-customizations .customization-build .step.intro .message{
    position: absolute;
    top: 25%;
    right: 25%;
    width: 500px;
    margin-right: -250px;
}
.product-customizations .customization-build .step.intro .message h2{
    text-align: center;
    margin: 0 auto 20px;
    font-size:20px;
    line-height:30px;
}
.product-customizations .customization-build .step.intro .message p{
    text-align: center;
    padding-top: 10px;
}
.product-customizations .customization-build .step.intro a.btn.start{
    position:absolute;
    top:50%;
    right:50px;
    margin-top:70px;
}
/*cut*/
.product-customizations .customization-build .step.cut{

}
.product-customizations .customization-build .step.cut .message{
    position:absolute;
    top:0;
    left:0;
    width: 16%;
    margin: 50px;
}
.product-customizations .customization-build .step.cut .message h2{
    text-align: center;
    margin: 0 auto 20px;
    font-size:20px;
    line-height:30px;
}
.product-customizations .customization-build .step.cut .message p{
    padding-top: 10px;
}
.product-customizations .customization-build .step.cut .options{
    position:absolute;
    top:10%;
    left:20%;
    width:60%;
}
.product-customizations .customization-build .step.cut .options .option{
    position:relative;
    float:left;
    width:45%;
    margin-right:5%;
    cursor:pointer;
}
.product-customizations .customization-build .step.cut .options .option .image{
    width:100%;
}
.product-customizations .customization-build .step.cut .options .option .image img{
    width:100%;
}
.product-customizations .customization-build .step.cut .options .option .text{
    position:absolute;
    top:65%;
    left:50%;
    margin-left:-50px;
    display:block;
    width:100px;
    padding:15px 0;
    border:1px solid transparent;
    color:#666666;
    font-size:16px;
    line-height:20px;
    text-align:center;
}
.product-customizations .customization-build .step.cut .options .option.active .text{
    color:#a4652d;
    border-color:#a4652d;
    border-radius:5px;
}
/*normal*/
.product-customizations .customization-build .step.normal{

}
.product-customizations .customization-build .step.normal .message{
    position:absolute;
    top:0;
    left:32.8125%;
    width: 16%;
    margin: 50px 0 0 100px;
}
.product-customizations .customization-build .step.normal .message h2{
    text-align: center;
    margin: 0 auto 20px;
    font-size:20px;
    line-height:30px;
}
.product-customizations .customization-build .step.normal .message p{
    padding-top: 10px;
}
.product-customizations .customization-build .step.normal .options{
    position:absolute;
    top:50px;
    left:50px;
    width:34.375%;
}
.product-customizations .customization-build .step.normal .options .option{
    position:relative;
    float:left;
    width:45.4545455%;
    margin:0 4.5454545% 4.5454545% 0;
    border: 1px solid #d7ded6;
    vertical-align: middle;
    cursor:pointer;
}
.product-customizations .customization-build .step.normal .options .option.active{
    border-color:#a4652d;
}
.product-customizations .customization-build .step.normal .options .option .image{
    width:100%;
}
.product-customizations .customization-build .step.normal .options .option .image img{
    width:100%;
    vertical-align: middle;
}
.product-customizations .customization-build .step.normal .options .option .text{
    text-align: center;
    color: #768075;
    border-top: 1px solid #d7ded6;
    background-color:#d7ded6;
    font-size: 16px;
    line-height:35px;
    padding: 7px 0;
    text-transform: uppercase;
}
.product-customizations .customization-build .step.normal .options .option.active .text{
    color: #a4652d;
    border-color:#a4652d;
    background-color:#f5f5f5;
}
.product-customizations .customization-build .step.normal .options .option-monogram{
    position:relative;
    float:left;
    width:45.4545455%;
    margin:0 4.5454545% 4.5454545% 0;
    vertical-align: middle;
}
.product-customizations .customization-build .step.normal .options .option-monogram .monogram{
    position:absolute;
    top:0;
    left:0;
    width:26.6666667%;
    height:100px;
    border:1px solid #dae0d9;
    font-size:60px;
    line-height:166.6666667%;
    text-align:center;
    -webkit-transition: height 200ms ease, font-size 200ms ease;
    -moz-transition: height 200ms ease, font-size 200ms ease;
    transition: height 200ms ease, font-size 200ms ease;
}
.product-customizations .customization-build .step.normal .options .option-monogram .monogram.second{
    left:50%;
    margin-left:-13.3333333%;
}
.product-customizations .customization-build .step.normal .options .option-monogram .monogram.third{
    left:auto;
    right:0;
}
@media(max-width:1800px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:93.75px;
        font-size:56.25px;
    }
}
@media(max-width:1700px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:88.54px;
        font-size:53.125px;
    }
}
@media(max-width:1600px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:83.33px;
        font-size:50px;
    }
}
@media(max-width:1500px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:78.125px;
        font-size:46.875px;
    }
}
@media(max-width:1400px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:72.92px;
        font-size:43.75px;
    }
}
@media(max-width:1300px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:67.71px;
        font-size:40.625px;
    }
}
@media(max-width:1200px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:62.5px;
        font-size:37.5px;
    }
}
@media(max-width:1100px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:57.29px;
        font-size:34.375px;
    }
}
@media(max-width:1040px){
    .product-detail-container .row .col-md-6{
        padding: 0;
    }
    .product-detail-container .product-image a.arrow-left{
        left: 12px;
    }
    .product-detail-container .product-image a.arrow-right{
        right: 12px;
    }
    .product-detail-container .product-info{
        width:450px;
        margin:0 auto;
    }
    .product-detail-container .product-info .build-btns ul li{
        float: none;
        width: auto;
        margin: 0;
    }
    .product-detail-container .product-info .build-btns ul li a{
        width:250px;
        margin:10px auto 0;
    }
    .product-customizations .customization p.description{
        width: 450px;
    }
    .product-customizations .customization .options{
        width: 100%;
    }
    .product-customizations .customization .options .option{
        width: 44%;
        margin: 2.5%;
    }
    /* ==========================================================================
       Customization Build
       ========================================================================== */
    .product-customizations .customization-build{
        height:auto;
    }
    .product-customizations .customization-build a.btn{
        width:250px;
    }
    .product-customizations .customization-build a.btn.prev{
        position:absolute;
        top:auto;
        left:50%;
        right:auto;
        bottom:20px;
        margin-left:-255px;
        z-index:1;
    }
    .product-customizations .customization-build a.btn.next{
        position:absolute;
        top:auto;
        left:50%;
        right:auto;
        bottom:20px;
        margin-left:5px;
        z-index:1;
    }
    .product-customizations .customization-build ol{
        position: absolute;
        top: 100%;
        left: 50%;
        display: block;
        width:auto;
        margin: 0 0 0 0;
        padding:0;
        list-style: none;
        text-align: left;
        z-index:1;
    }
    .product-customizations .customization-build ol li{
        position:relative;
        left:-50%;
        vertical-align:middle;
    }
    .product-customizations .customization-build .step{
        height:auto;
        padding-bottom:100px;
    }
    .product-customizations .customization-build .step .bg-img{
        display:none;
    }
    /*intro*/
    .product-customizations .customization-build .step.intro{
        padding-bottom:20px;
    }
    .product-customizations .customization-build .step.intro .message{
        position: static;
        top: auto;
        right: auto;
        width: 450px;
        margin: 50px auto;
    }
    .product-customizations .customization-build .step.intro a.btn.start{
        position:static;
        top:auto;
        right:auto;
        display:block;
        margin:70px auto 0;
    }
    /*cut*/
    .product-customizations .customization-build .step.cut .message{
        position:static;
        top:auto;
        left:auto;
        width: 450px;
        margin: 50px auto;
    }
    .product-customizations .customization-build .step.cut .options{
        position:relative;
        top:auto;
        left:2.5%;
        width:100%;
    }
    /*normal*/
    .product-customizations .customization-build .step.normal .message{
        position:static;
        top:auto;
        left:auto;
        width: 450px;
        margin: 50px auto 100px;
    }
    .product-customizations .customization-build .step.normal .options{
        position:static;
        top:auto;
        left:auto;
        width:100%;
    }
    .product-customizations .customization-build .step.normal .options .option{
        width: 44%;
        margin: 2.5%;
    }
    .product-customizations .customization-build .step.normal .options .option-monogram{
        width: 44%;
        height:138.67px;
        margin: 2.5%;
    }
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:138.67px;
        font-size:83.2px;
    }
}
@media(max-width:940px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:125.33px;
        font-size:75.2px;
    }
}
@media(max-width:840px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:112px;
        font-size:67.2px;
    }
}
@media(max-width:740px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:98.67px;
        font-size:59.2px;
    }
}
@media(max-width:640px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:85.33px;
        font-size:51.2px;
    }
}
@media(max-width:530px) {
    .product-detail-container .product-image .images{
        width:300px;
        height:300px;
    }
    .product-detail-container .product-image a.arrow-left{
        top:140px;
    }
    .product-detail-container .product-image a.arrow-right{
        top:140px;
    }
    .product-detail-container .product-info{
        width:auto;
        margin:0 auto;
    }
    .product-detail-container .product-info .text{
        padding: 0 20px 30px;
    }
    .product-detail-container .product-info .build-info{
        padding: 30px 20px 0;
    }
    .product-customizations .customization p.description{
        width: auto;
        padding: 10px 20px 0;
    }
    .product-customizations .customization.no-login .zoom-container .description{
        position: absolute;
        top: 25%;
        left:20px;
        right: 20px;
        width: auto;
        margin-right: 0;
        text-align: center;
    }
    /* ==========================================================================
       Customization Build
       ========================================================================== */
    .product-customizations .customization-build a.btn.prev{
        position:absolute;
        top:auto;
        left:50%;
        right:auto;
        bottom:80px;
        margin-left:-125px;
        z-index:1;
    }
    .product-customizations .customization-build a.btn.next{
        position:absolute;
        top:auto;
        left:50%;
        right:auto;
        bottom:20px;
        margin-left:-125px;
        z-index:1;
    }
    .product-customizations .customization-build .step{
        padding-bottom:150px;
    }
    .product-customizations .customization-build .step.intro .message{
        width: auto;
        margin: 50px 20px;
    }
    .product-customizations .customization-build .step.cut .message{
        width: auto;
        margin: 50px 20px;
    }
    .product-customizations .customization-build .step.cut .options{
        position:relative;
        top:auto;
        left:0;
        width:100%;
    }
    .product-customizations .customization-build .step.cut .options .option{
        position:relative;
        float:left;
        width:95%;
        margin:2.5%;
        cursor:pointer;
    }
    .product-customizations .customization-build .step.normal .message{
        width: auto;
        margin: 50px 20px;
    }
    .product-customizations .customization-build .step.normal .options .option{
        width: 45%;
        margin: 2.5%;
    }
    .product-customizations .customization-build .step.normal .options .option-monogram{
        width: 95%;
        height:176.67px;
        margin: 2.5%;
    }
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:176.67px;
        font-size:108px;
    }
}
@media(max-width:430px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:143.33px;
        font-size:86px;
    }
}
@media(max-width:330px){
    .product-customizations .customization-build .step.normal .options .option-monogram .monogram {
        height:110px;
        font-size:66px;
    }
}
